@model Edelweiss.Models.Pacchetti

@{
    ViewBag.Title = "Delete";
}

<div class="alert alert-danger my-3">
    <h3 class="text-center">Sei sicuro di voler elimiare questo pacchetto?</h3>
</div>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancella" class="btn btn-danger" />
            <a href="/Pacchetti/Index" class="btn btn-outline-success">Torna indietro</a>
        </div>
    }
</div>

<div class="row my-3">
    <div class="col-lg-12 text-center py-5">
        <p>Prezzo scontato:</p>
        <h4> @Model.PrezzoScontato</h4>
        <p>Prezzo effettivo:</p>
        <h4>@Model.PrezzoEffettivo</h4>
        <p>Descrizione:</p>
        <h4>@Model.Descrizione</h4>
        <p>Pacchetto:</p>
        <h4>@Model.Nome</h4>
    </div>
</div>
