@model Edelweiss.Models.Pacchetti

@{
    ViewBag.Title = "Delete";
}

<div class="alert alert-danger my-3">
    <h3 class="text-center">Sei sicuro di voler elimiare questo pacchetto?</h3>
</div>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancella" class="btn btn-danger" />
            <a href="/Pacchetti/Index" class="btn btn-outline-success">Torna indietro</a>
        </div>
    }
</div>

<div class="row my-3 loginBorder">
    <div class="col-lg-6 text-center  my-auto py-5">
        <h4>Prezzo scontato:</h4>
        <p>@Convert.ToDecimal(@Model.PrezzoScontato).ToString("c2")</p>
        <h4>Prezzo effettivo:</h4>
        <p>@Convert.ToDecimal(@Model.PrezzoEffettivo).ToString("c2")</p>
        <h4>Descrizione:</h4>
        <p>@Model.Descrizione</p>
        <h4>Pacchetto:</h4>
        <p>@Model.Nome</p>
    </div>
    <div class="col-lg-6 text-center  py-5">
        @if (Model.Dettaglio1 != null)
        {
            <h4>Dettaglio 1:</h4>
            <p>@Model.Dettaglio1</p>
        }
        @if (Model.Dettaglio2 != null)
        {
            <h4>Dettaglio 2:</h4>
            <p>@Model.Dettaglio2</p>
        }
        @if (Model.Dettaglio3 != null)
        {
            <h4>Dettaglio 3:</h4>
            <p>@Model.Dettaglio3</p>
        }
        @if (Model.Dettaglio4 != null)
        {
            <h4>Dettaglio 4:</h4>
            <p>@Model.Dettaglio4</p>
        }
        @if (Model.Dettaglio5 != null)
        {
            <h4>Dettaglio 5:</h4>
            <p>@Model.Dettaglio5</p>
        }
        @if (Model.Dettaglio6 != null)
        {
            <h4>Dettaglio 6:</h4>
            <p>@Model.Dettaglio6</p>
        }
    </div>
</div>
