@model Edelweiss.Models.Pacchetti

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center my-3">Dettagli pacchetto</h2>
<hr />

<p class="my-3">
    <a href="/Pacchetti/Index" class="btn btn-outline-success">Torna indietro</a>
    <a href='@Url.Action("Edit", new { id = Model.IdPacchetto })' class="btn btn-outline-danger">Modifica</a>
</p>

<div class="row my-3">
    <div class="col-lg-12 text-center py-5">
        <p>Prezzo scontato:</p>
        <h4>@Model.PrezzoScontato</h4>
        <p>Prezzo effettivo:</p>
        <h4>@Model.PrezzoEffettivo</h4>
        <p>Descrizione:</p>
        <h4>@Model.Descrizione</h4>
        <p>Pacchetto:</p>
        <h4>@Model.Nome</h4>
    </div>
</div>


