@model Edelweiss.Models.Pacchetti

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pacchetti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrezzoScontato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrezzoScontato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrezzoEffettivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrezzoEffettivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPacchetto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
