@model IEnumerable<Edelweiss.Models.Pacchetti>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center my-3">Lista Pacchetti</h2>
<hr />

<p class="my-3">
    <a href="/Pacchetti/Create" class="btn btn-outline-primary">Aggiungi nuovo</a>
</p>

<table class="table table-striped table-hover table-responsive text-center my-4">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrezzoScontato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrezzoEffettivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            Gestione
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrezzoScontato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrezzoEffettivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Modifica", "Edit", new { id = item.IdPacchetto }) |
                @Html.ActionLink("Dettagli", "Details", new { id = item.IdPacchetto }) |
                @Html.ActionLink("Elimina", "Delete", new { id = item.IdPacchetto })
            </td>
        </tr>
    }

</table>
