@model IEnumerable<Edelweiss.Models.Pacchetti>

@{
    ViewBag.Title = "PacchettiPublic";
}

<h2 class="text-center my-4">I nostri pacchetti</h2>

<div class="row my-3">
    @foreach (var item in Model)
    {
        <div class="col-lg-4  d-flex justify-content-center my-3">
            <div class="card pack packs" style="width: 20rem; ">
                <div class="card-body my-3">
                    <h5 class="card-subtitle my-2 me-4 text-decoration-line-through text-end pacchettodesc">@Html.DisplayFor(modelItem => item.PrezzoScontato)</h5>
                    <h2 class="card-text text-end text-center pacchettonumb">@Html.DisplayFor(modelItem => item.PrezzoEffettivo)</h2>
                    <p class="card-text text-end me-4 pacchettodesc">@Html.DisplayFor(modelItem => item.Descrizione)</p>
                    <h1 class="card-title text-center text-uppercase my-4 pacchettonumb">@Html.DisplayFor(modelItem => item.Nome)</h1>
                    <p class="d-flex justify-content-center">
                        <a href='@Url.Action("AggiungiCarrello", new { id = item.IdPacchetto })' class="btn fs-1 pacchettodesc"><i class="bi bi-cart-plus"></i></a>
                    </p>
                    <p class="d-flex justify-content-center">
                        <a href='@Url.Action("Details", new { id = item.IdPacchetto })' class="bttndett">Dettagli</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $("body").find(".pack").eq(0).addClass("ebony");
    $("body").find(".pack").eq(1).addClass("sage");
    $("body").find(".pack").eq(2).addClass("khaki");
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#pacchettiLink").addClass("currentnavli");
    });
</script>
