@model Edelweiss.Models.Collaboratori

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center my-3">Dettagli collaboratore</h2>
<hr />

<p class="my-3">
    <a href="/Collaboratori/Index" class="btn btn-outline-success">Torna indietro</a>
    <a href='@Url.Action("Edit", new { id = Model.IdCollaboratore })' class="btn btn-outline-danger">Modifica</a>
</p>

<div class="row my-3">
    <div class="col-lg-6 text-center py-5">
        <p>Nominativo:</p>
        <h4>@Model.Nome @Model.Cognome</h4>
        <p>Mansione:</p>
        <h4>@Model.Mansione</h4>
        <p>Telefono:</p>
        <h4>@Model.Cellulare</h4>
        <p>Email:</p>
        <h4>@Model.Email</h4>
    </div>
    <div class="col-lg-6 text-center">
        <img src="~/Content/Assets/Img/@Model.Foto" width="450" />
    </div>
</div>


