@model IEnumerable<Edelweiss.Models.Collaboratori>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center my-3">Lista collaboratori</h2>
<hr />

<p class="my-3">
    <a href="/Collaboratori/Create" class="btn btn-outline-primary">Aggiungi nuovo</a>
</p>

<table class="table table-striped table-hover table-responsive my-4">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mansione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cellulare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mansione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cellulare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <img src="~/Content/Assets/Img/@Html.DisplayFor(modelItem => item.Foto)" width="40" />
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id=item.IdCollaboratore }) |
            @Html.ActionLink("Dettagli", "Details", new { id=item.IdCollaboratore }) |
            @Html.ActionLink("Elimina", "Delete", new { id=item.IdCollaboratore })
        </td>
    </tr>
}

</table>
