@model IEnumerable<Edelweiss.Models.Collaboratori>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mansione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cellulare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mansione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cellulare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <img src="~/Content/Assets/Img/@Html.DisplayFor(modelItem => item.Foto)" width="40" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCollaboratore }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCollaboratore }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCollaboratore })
        </td>
    </tr>
}

</table>
