@model Edelweiss.Models.Ordini

@{
    ViewBag.Title = "Create";
}
<h2 class="text-center my-3">Conferma il tuo acquisto</h2>
<hr />

<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal text-center">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group my-1">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control mx-auto" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group my-1">
                    @Html.LabelFor(model => model.Cognome, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Cognome, new { htmlAttributes = new { @class = "form-control mx-auto" } })
                        @Html.ValidationMessageFor(model => model.Cognome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group my-1">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control mx-auto" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group my-1">
                    @Html.LabelFor(model => model.Cellulare, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Cellulare, new { htmlAttributes = new { @class = "form-control mx-auto" } })
                        @Html.ValidationMessageFor(model => model.Cellulare, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group my-1">
                    @Html.LabelFor(model => model.NumeroCarta, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.NumeroCarta, new { htmlAttributes = new { @class = "form-control mx-auto" } })
                        @Html.ValidationMessageFor(model => model.NumeroCarta, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group my-1">
                    @Html.LabelFor(model => model.Scadenza, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Scadenza, new { htmlAttributes = new { @class = "form-control mx-auto" } })
                        @Html.ValidationMessageFor(model => model.Scadenza, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group my-1">
                    @Html.LabelFor(model => model.CodiceCVV, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CodiceCVV, new { htmlAttributes = new { @class = "form-control mx-auto" } })
                        @Html.ValidationMessageFor(model => model.CodiceCVV, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12 my-3">
                        <input type="submit" value="Acquista" class="btn btn-success form-control" />
                    </div>
                </div>
            </div>
        }
    </div>


    <div class="col-lg-6">
        @if (TempData["successo"] != null)
        {
            <p class="text-center mt-3 alert alert-success">@TempData["successo"]</p>
        }

        @if (ViewBag.errore != null)
        {
            <p class="text-center mt-3 alert alert-danger">@ViewBag.errore</p>
        }
        @foreach(var item in Edelweiss.Models.PacchettoAcquistato.ListaPacchetti)
            {
            <div class="text-center mt-3 loginBorder p-1">
                <h4>Stai acquistando:</h4>
                <p>Pacchetto: <span>@item.Nome</span></p>
                <p>Prezzo: <span>@Convert.ToDecimal(item.Prezzo).ToString("c2")</span></p>
                <p>Dettagli pacchetto:</p>
                @if (item.Dettaglio1 != null)
                {
                    <p><span>@item.Dettaglio1</span></p>
                }
                @if (item.Dettaglio2 != null)
                {
                    <p><span>@item.Dettaglio2</span></p>
                }
                @if (item.Dettaglio3 != null)
                {
                    <p><span>@item.Dettaglio3</span></p>
                }
                @if (item.Dettaglio4 != null)
                {
                    <p><span>@item.Dettaglio4</span></p>
                }
                @if (item.Dettaglio5 != null)
                {
                    <p><span>@item.Dettaglio5</span></p>
                }
                @if (item.Dettaglio6 != null)
                {
                    <p><span>@item.Dettaglio6</span></p>
                }
            </div>
            }
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#carrelloLink").addClass("currentnavli");
    });
</script>