@model Edelweiss.Models.Ordini

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ordini</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pacchetti.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacchetti.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cellulare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cellulare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCarta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCarta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scadenza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scadenza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodiceCVV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodiceCVV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrezzoAcquisto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrezzoAcquisto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomePacchetto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePacchetto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOrdine }) |
    @Html.ActionLink("Back to List", "Index")
</p>
