@model IEnumerable<Edelweiss.Models.Ordini>

@{
    ViewBag.Title = "Index";
}

<h3 class="text-center my-3">Lista pacchetti acquistati</h3>

<table class="table table-striped table-hover table-responsive my-4">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cellulare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrezzoAcquisto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomePacchetto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAcquisto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cellulare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrezzoAcquisto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomePacchetto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAcquisto)
        </td>
        <td>
            @Html.ActionLink("Dettagli", "Details", new { id=item.IdOrdine }) |
            @Html.ActionLink("Elimina", "Delete", new { id=item.IdOrdine })
        </td>
    </tr>
}

</table>
