<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Home/Index">Edelweiss Logo</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ChiSiamo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Servizi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Pacchetti/PacchettiPublic">Pacchetti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Contatti/Create">Contatti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Ordini/Create">Carrello</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Nome dell'applicazione", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Informazioni", "About", "Home")</li>
                        <li>@Html.ActionLink("Contatto", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="container-fluid bg-light">
        <div class="d-flex justify-content-between">
            <p class="d-block">&copy; @DateTime.Now.Year - Edelweiss</p>
            <p><a href="/AreaRiservata/Index" class="text-decoration-none">Area Riservata</a></p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
