@model Edelweiss.Models.Contatti

@{
    ViewBag.Title = "Create";
}
<h2 class="text-center">Compila il form sottostante e scrivici il tuo messaggio</h2>
<h4 class="text-center">Verrai ricontattato al più presto alla mail o al numero di telefono da te inserito</h4>
<div class="row">
@if (TempData["MessaggioInviato"] != null)
{
    <p class="text-center mt-3 alert alert-success">@TempData["MessaggioInviato"]</p>
}
    <div class="col-md-6">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal mx-auto w-100 text-center">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group mx-auto my-3">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 mx-auto">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control mx-auto" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mx-auto my-3">
                    @Html.LabelFor(model => model.Cognome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 mx-auto">
                        @Html.EditorFor(model => model.Cognome, new { htmlAttributes = new { @class = "form-control mx-auto" } })
                        @Html.ValidationMessageFor(model => model.Cognome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mx-auto my-3">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 mx-auto">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control mx-auto" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mx-auto my-3">
                    @Html.LabelFor(model => model.Cellulare, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 mx-auto">
                        @Html.EditorFor(model => model.Cellulare, new { htmlAttributes = new { @class = "form-control mx-auto" } })
                        @Html.ValidationMessageFor(model => model.Cellulare, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mx-auto my-3">
                    @Html.LabelFor(model => model.Messaggio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 d-flex justify-content-center flex-wrap mx-auto">
                        @Html.TextAreaFor(model => model.Messaggio, new  { @class = "form-control txtarea", @rows=5, @columns=40, @placeholder="Scrivi qui il tuo messaggio..." } )
                        @Html.ValidationMessageFor(model => model.Messaggio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10  mx-auto my-3">
                        <input type="submit" value="Invia" class="bttndett mt-4 w-50" />
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="col-6 ">
        <div class="d-flex justify-content-center">
            <img src="~/Content/Assets/Img/contatti.png" class="messaggio" />
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#contattiLink").addClass("currentnavli");
    });
</script>