@model Edelweiss.Models.Contatti

@{
    ViewBag.Title = "Delete";
}

<div class="alert alert-danger my-3">
    <h3 class="text-center">Sei sicuro di voler elimiare questo messaggio?</h3>
</div>

<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancella" class="btn btn-danger" /> 
            <a href="/Contatti/Index" class="btn btn-outline-success">Torna indietro</a>
        </div>
    }
</div>

<div class="row my-3">
    <div class="col-lg-6 text-center py-5">
        <p>Mittente:</p>
        <h4>@Model.Nome @Model.Cognome</h4>
        <p>Telefono:</p>
        <h4>@Model.Cellulare</h4>
        <p>Email:</p>
        <h4>@Model.Email</h4>
    </div>
    <div class="col-lg-6">
        <h2 class="text-center">Messaggio:</h2>
        <p>@Model.Messaggio</p>
    </div>
</div>

