@model Edelweiss.Models.Contatti

@{
    ViewBag.Title = "Details";
}
<p class="text-center my-3">
    @Html.ActionLink("Torna indietro", "Index")
</p>

<div class="row my-3">
    <div class="col-lg-6 text-center py-5">
        <p>Mittente:</p>
        <h4>@Model.Nome @Model.Cognome</h4>
        <p>Telefono:</p>
        <h4>@Model.Cellulare</h4>
        <p>Email:</p>
        <h4>@Model.Email</h4>
    </div>
    <div class="col-lg-6 text-center">
        <h2>Messaggio:</h2>
        <p class="">@Model.Messaggio</p>
    </div>
</div>

@*<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cellulare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cellulare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Messaggio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Messaggio)
        </dd>

    </dl>
</div>*@

