@model Edelweiss.Models.Contatti

@{
    ViewBag.Title = "Details";
}
<p class="my-3">
    <a href="/Contatti/Index" class="btn btn-outline-success">Torna indietro</a>
</p>

<div class="row my-3">
    <div class="col-lg-6 text-center py-5">
        <p>Mittente:</p>
        <h4>@Model.Nome @Model.Cognome</h4>
        <p>Telefono:</p>
        <h4>@Model.Cellulare</h4>
        <p>Email:</p>
        <h4>@Model.Email</h4>
    </div>
    <div class="col-lg-6">
        <h2 class="text-center">Messaggio:</h2>
        <p>@Model.Messaggio</p>
    </div>
</div>


