@model IEnumerable<Edelweiss.Models.Contatti>

@{
    ViewBag.Title = "Index";
}
<h3 class="text-center my-3">Lista messaggi ricevuti</h3>
<table class="table my-4">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cellulare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Messaggio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string messaggio = "";
    if (item.Messaggio.Length > 50)
    {
        messaggio = item.Messaggio.Substring(0, 60) + ".....";
    }
    else
    {
        messaggio = item.Messaggio;
    }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cellulare)
        </td>
        <td>
            @messaggio
        </td>
        <td>
            @Html.ActionLink("Dettagli", "Details", new { id=item.IdContatto }) |
            @Html.ActionLink("Elimina", "Delete", new { id=item.IdContatto })
        </td>
    </tr>
}

</table>
